<% if !@revisions.blank? %>
          	
  	<% @revisions.each do |d| %>
  		<%= link_to edit_admin_revision_path(d) do %>
  			<li><%= I18n.t("views.admin.pages.autosave_list.revisions_saved_at") %> <%= d.created_at.strftime "%d %B, %Y at %H:%M" %> <%= I18n.t("views.admin.generic.by") %> <%= d.admin.username %></li>
        <% end %>  
  	<% end %>

<% else %>

	<%= I18n.t("views.admin.pages.autosave_list.no_revisions") %>

<% end %>