<div class="row-fluid">
  <div class="span12">
<h2 class="title">Pages</h2>

<div class="well">

  <div class="input-append pull-left span6">
  <%= form_tag admin_pages_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search], :placeholder => "Search..." %>
      <%= submit_tag "Search", :name => nil, :class => 'btn btn-warning' %>
    </p>
  <% end %>
  </div>
  <div class="span6">
    <%= link_to new_admin_page_path do %>
      <button class="pull-right btn btn-small btn-warning"><span class="icon-plus"></span>&nbsp;Add New Page</button>
    <% end %>
  </div>
</div>

<% if @pages.blank? %>
  <div class="span12" style="text-align:center;">
    <strong style="margin-top:100px; font-size:25px; display:block; ">You currently have no pages</strong>
  </div>

<% else %>

  <%= form_tag "/admin/pages/bulk_update" do %>
    <table class="table table-bordered table-striped table_vam">
    <thead>
      <tr>
        <th><%= check_box_tag 'all', 'all', false, :id => 'check_all' %></th>
        <th>Page Title</th>
        <th>Published Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <% @pages.each do |page| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %> <%= page.post_status == "Draft" ? 'draft' : '' %>">

      <td><%= check_box_tag 'pages[]', page.id %></td>
    	<td><span class="hhfr">Page Title:-</span><%= page.post_title %><%= page.post_status == "Draft" ? ' - draft' : '' %></td>
    	<td><span class="hhfr">Published Date:-</span><%= page.post_date.strftime "%d-%m-%Y" %></td>
        <td>
          <div class="btn-group">
            <%= link_to edit_admin_page_path(page), :class => 'btn btn-small' do %>
              <i class="icon-pencil"></i>
            <% end %>        
            <%= link_to page_path(page), :class => 'btn btn-small' do %>
              <i class="icon-search"></i>
            <% end %>       
            <%= link_to admin_page_path(page), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small' do %>
              <i class="icon-trash"></i>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
    </table>
  <%= bulk_update_dropdown Hash['publish' => 'Publish', 'draft' => 'Draft', 'move_to_trash' => 'Move To Trash'] %>
  <% end %>
<% end %>

<div class="pull-right">
   <%= paginate @pages %>
</div>


</div>
</div>
