<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">&nbsp;</h3>
        <div class="actions pull-right">
          <i class="fa fa-chevron-down"></i>
        </div>
      </div>
      <div class="panel-body">
        <%= form_tag site_url("admin/comments/bulk_update") do %>
          <table id="dtable" class="table table-hover" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="checkboxth hidden-xs"><%= check_box_tag 'all', 'all', false, :id => 'check_all' %></th>
                <th><%= I18n.t("views.admin.comments.index.article") %></th>
                <th class="hidden-xs"><%= I18n.t("views.admin.comments.index.comment") %></th>
                <th class="hidden-xs center"><%= I18n.t("views.admin.comments.index.status") %></th>
                <th>&nbsp;</th>
              </tr>
            </thead>

            <tbody>
             <% Comment.order('submitted_on desc').order('created_at desc').includes(:post).each do |comment| %>
              <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

              <td class="hidden-xs"><%= check_box_tag 'comments[]', comment.id %></td>
              <td>
                <%= link_to page_path(comment.post), :target => '_blank' do %>
                  <%= comment.post.post_title %>
                <% end %>
             
              </td>
              <td class="hidden-xs">
                <small><%= I18n.t("views.admin.comments.index.comment_submitted_on") %> <%= comment.submitted_on.strftime "%d-%m-%Y" %></small><br />
                <%= excerpt comment.comment, 50 %>
              </td>
              <td class="hidden-xs center">

                <% if comment.comment_approved == 'Y' %>
                  <%= I18n.t("views.admin.comments.index.approved") %>
                <% elsif comment.comment_approved == 'S' %>
                  <%= I18n.t("views.admin.comments.index.spam") %>
                <% else %>
                  <%= I18n.t("views.admin.comments.index.unapproved") %>
                <% end %>
                
              </td>
                <td class="center">
                  <div class="btn-group pull-right">
                    <%= link_to edit_admin_comment_path(comment), :class => 'btn btn-xs btn-default' do %>
                      <i class="fa fa-pencil"></i>
                    <% end %>
                     <%= link_to mark_as_spam_admin_comment_path(comment), :class => 'btn btn-xs btn-default' do %>
                      <i class="fa fa-fire"></i>
                    <% end %>              
                    <%= link_to admin_comment_path(comment), method: :delete, data: { confirm: I18n.t("views.admin.generic.confirm") }, :class => 'btn btn-xs btn-danger' do %>
                      <i class="fa fa-trash-o"></i>
                    <% end %>
                  </div>
                </td>
                
              </tr>
            <% end %>
            </tbody>
          </table>
          <div class="hidden-xs">
            <hr>
            <%= bulk_update_dropdown Hash['unapprove' => I18n.t("views.admin.generic.bulk_update_options.unapprove"),
                                          'approve' => I18n.t("views.admin.generic.bulk_update_options.approve"), 
                                          'mark_as_spam' => I18n.t("views.admin.generic.bulk_update_options.mark_as_spam"), 
                                          'destroy' => I18n.t("views.admin.generic.bulk_update_options.destroy")] %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>