<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">&nbsp;</h3>
        <div class="actions pull-right">
          <i class="fa fa-chevron-down"></i>
        </div>
      </div>
      <div class="panel-body">
        <%= form_tag site_url("admin/comments/bulk_update") do %>
          <table id="dtable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="checkboxth hidden-xs"><%= check_box_tag 'all', 'all', false, :id => 'check_all' %></th>
                <th>Article</th>
                <th class="hidden-xs">Comment</th>
                <th class="hidden-xs">Current Status</th>
                <th>Action</th>
                <th class="hidden-xs">&nbsp;</th>
              </tr>
            </thead>

            <tbody>
             <% @comments.each do |comment| %>
              <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

              <td class="hidden-xs"><%= check_box_tag 'comments[]', comment.id %></td>
              <td>
                <%= link_to page_path(comment.post), :target => '_blank' do %>
                  <%= comment.post.post_title %>
                <% end %>
             
              </td>
              <td class="hidden-xs">
                <small>Comment submitted on:- <%= comment.submitted_on.strftime "%d-%m-%Y"%></small><br />
                <%= excerpt comment.comment, 50 %>
              </td>
              <td class="hidden-xs">

                <% if comment.comment_approved == 'Y' %>
                  Approved
                <% elsif comment.comment_approved == 'S' %>
                  Spam
                <% else %>
                  Unapproved
                <% end %>
                
              </td>
                <td class="center">
                  <%= link_to edit_admin_comment_path(comment), :class => '' do %>
                    <i class="fa fa-pencil"></i>
                  <% end %>
                   <%= link_to mark_as_spam_admin_comment_path(comment), :class => '' do %>
                    <i class="fa fa-fire"></i>
                  <% end %>              
                  <%= link_to admin_comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, :class => '' do %>
                    <i class="fa fa-trash-o"></i>
                  <% end %>
                </td>
                <td class="center hidden-xs">
                  <% if comment.comment_approved == 'Y' %>
                    <i class="fa fa-check-circle"></i>
                  <% elsif comment.comment_approved == 'N' %>
                    <i class="fa fa-clock-o"></i>
                  <% else %>
                    <i class="fa fa-fire"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <div class="hidden-xs">
            <hr>
            <%= bulk_update_dropdown Hash['unapprove' => 'Unapprove', 'approve' => 'Approve', 'mark_as_spam' => 'Mark as spam', 'destroy' => 'Destroy'] %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  
  $(document).ready(function(){
  });
  
</script>