<div class="row" id="postPage">
    <%= form_for [:admin, @banner] do |f| %>
      <div class="span9">
      <% if @banner.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@banner.errors.count, "error") %> errors:</h2>

          <ul>
          <% @banner.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <fieldset>
        <div class="field">
          <%= f.text_field :name, size: 40, :placeholder => 'Banner Name' %>
        </div>
        <div class="field margin20">
          <div class="input-append">
            <%= f.text_field :image, size: 40, :placeholder => 'Image Url' %>
            <button class="btn" id="filebrowser">Browse Server</button>
          </div>
        </div>
        <div class="field">
          <%= f.text_field :sort_order, size: 40, :placeholder => 'Sort Order' %>
        </div>
 
        <div class="field">
          <%= f.text_area :description, :class => 'ckeditor' %>
        </div>
      </fieldset>


  </div>
  <div class="span3">

    <div class="accordion tagsAccordion" id="accordionTags">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionTags" href="#collapseTags"><i class="icon-sitemap pull-left"></i>&nbsp;Banner Category<i class="accordionSign pull-right"></i></a>
        </div>
        <div id="collapseTags" class="accordion-body collapse in">
           <div class="accordion-inner">
              <div class="field">
              <% if !@banner_categories.blank? %>
                <ul>
                  <% @banner_categories.each do |tag| %>
                      <li>
                        <%= check_box_tag 'category_ids[]', tag.id, @banner.terms.find_by_id(tag.id) ? true : false %><%= label_tag tag.name %>
                      </li>
                  <% end %>
                </ul>
              <% else %>
                <div style="text-align:center;">
                  <strong>No categories!</strong>
                </div>
              <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>  

    <h4 class="title">Banner Image</h4>

    <div class="imagePlaceholder">
      <img width="100%" src="<%= @banner.image %>" />
    </div>    

  </div>
  <% end %>
</div>

<script type="text/javascript">

  function popitup() {
    var left = (screen.width/2)-(1137/2);
    var top = (screen.height/2)-(600/2);
    newwindow=window.open("<%= site_url('admin/media/?manualBrowse=true') %>",'name','height=600,width=1137,scrollbars=yes,top='+top+',left=' + left);
    if (window.focus) {newwindow.focus()}
    return false;
  }

  function returnImageFunction(image){
    $('#banner_image').val(image);
    $('.imagePlaceholder').html('<img width="100%" src="' + image + '" />');
  }
  
  $(document).ready(function(){

    $('#filebrowser').bind('click', function(e){
      e.preventDefault();
      popitup();
    })

  });
  
</script>
