<div class="row">
	<div class="span4">

	    <div class="title">Add New Category</div>

		<%= render 'category_form' %>

	</div>



	<div class="span8">

	<% if @categories.blank? %>
	  <div class="span8" style="text-align:center;">
	    <strong style="margin-top:100px; font-size:25px; display:block; ">You currently have no banner categories</strong>
	  </div>

	<% else %>
		<%= form_tag "/admin/terms/bulk_update" do %>
			<%= hidden_field_tag :type_taxonomy, 'category' %>
			<div class="title">Banner Categories</div>

			<table class="table table-bordered table-condensed table-striped">
			<thead>
			  <tr>
			    <th><%= check_box_tag 'all', 'all', false, :id => 'check_all' %></th>
			    <th>Name</th>
			    <th>Description</th>
			    <th>Key</th>
			    <th>Action</th>
			  </tr>
			</thead>
			<% @categories.each do |category| %>
			  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

			    <td><%= check_box_tag 'categories[]', category.id %></td>
				<td><span class="hhfr">Name:-</span><%= category.name %></td>
				<td><span class="hhfr">Description:-</span><%= category.description %></td>
				<td><span class="hhfr">Key:-</span><%= category.slug %></td>
			    <td>
			      <div class="btn-group">
			        <%= link_to edit_admin_term_path(category), :class => 'btn btn-small' do %>
			          <i class="icon-pencil"></i>
			        <% end %>        
			        <%= link_to admin_term_path(category), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small' do %>
			          <i class="icon-trash"></i>
			        <% end %>
			      </div>
			    </td>
			  </tr>
			<% end %>
			</table>
			<%= bulk_update_dropdown Hash['destroy' => 'Delete'] %>
			<!-- <button type="button" id="check_all">
	    Check / Uncheck All
	</button> -->
		<% end %>
	<% end %>
		<div class="pull-right">
	   <%= paginate @categories %>
	</div>
	</div>
</div>