<div class="row">
	<div class="span12">
		<h2 class="title">Trash Can</h2>
	</div>

	<div class="trashArea">

		<% if @posts.blank? && @pages.blank? %>
			<div class="span12" style="text-align:center;">
				<strong style="margin-top:100px; font-size:25px; display:block; ">The trash can is currently empty</strong>
			</div>

		<% end %>

	    <% if !@posts.blank? %>
		
			<div class="span6">

			    <div class="title">Articles
				   	<div class="btn-group pull-right">
			          <%= link_to empty_posts_admin_trash_index_path('post'), :class => 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } do %>
			            <i class="icon-trash"></i>
			          <% end %>    
			        </div> 
			    </div>

				<%= form_tag "/admin/trash/deal_with_form" do %>
				  <table class="table table-bordered table-striped table_vam">
				  <thead>
				    <tr>
				      <th><%= check_box_tag 'all', 'all', false, :id => 'check_all' %></th>
				      <th>Name</th>
				      <th>Published Date</th>
				      <th>&nbsp;</th>
				    </tr>
				  </thead>
				  <% @posts.each do |post| %>
				    <tr class="<%= cycle('list_line_odd', 'list_line_even') %> <%= post.post_status == "Draft" ? 'draft' : '' %>">

					    <td><span class="hhfr inline">Check:-</span><%= check_box_tag 'posts[]', post.id %></td>
					  	<td><span class="hhfr">Title:-</span><%= post.post_title %><%= post.post_status == "Draft" ? ' - draft' : '' %></td>
					  	<td><span class="hhfr">Publish Date:-</span><%= post.post_date.strftime "%d-%m-%Y" %>&nbsp;</td>
					      <td>
					        <div class="btn-group">
					          <%= link_to edit_admin_trash_path(post, :type => 'post'), :class => 'btn btn-small btn-warning' do %>
					            <i class="icon-reply"></i>
					          <% end %>  
					            <%= link_to admin_post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small' do %>
						            <i class="icon-trash"></i>
						          <% end %>  
					        </div>
					      </td>
					    </tr>
				  <% end %>
				  </table>
				  <div class="formSepUpp">
				  	<%= bulk_update_dropdown Hash['reinstate' => 'Reinstate', 'destroy' => 'Destroy'] %>
				  </div>
				  <% end %>
				  		<div class="clearboth"></div>

			</div>

		<% end %>


		<% if !@pages.blank? %>

			<div class="span6">

			    <div class="title">Pages
				   	<div class="btn-group pull-right">
			          <%= link_to empty_posts_admin_trash_index_path('page'), :class => 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } do %>
			            <i class="icon-trash"></i>
			          <% end %>    
			        </div> 
			    </div>


			    <%= form_tag "/admin/trash/deal_with_form" do %>
			    	<table class="table table-bordered table-striped table_vam">
				  <thead>
				    <tr>
				      <th><%= check_box_tag 'all', 'all', false, :id => 'check_all' %></th>
				      <th>Name</th>
				      <th>Published Date</th>
				      <th>&nbsp;</th>
				    </tr>
				  </thead>
				  <% @pages.each do |page| %>
				    <tr class="<%= cycle('list_line_odd', 'list_line_even') %> <%= page.post_status == "Draft" ? 'draft' : '' %>">

				    <td><span class="hhfr inline">Check:-</span><%= check_box_tag 'pages[]', page.id %></td>
				  	<td><span class="hhfr">Title:-</span><%= page.post_title %><%= page.post_status == "Draft" ? ' - draft' : '' %></td>
				  	<td><span class="hhfr">Publish Date:-</span><%= page.post_date.strftime "%d-%m-%Y" %></td>
				      <td>
				        <div class="btn-group">
				          <%= link_to edit_admin_trash_path(page, :type => 'page'), :class => 'btn btn-mini btn-warning' do %>
				            <i class="icon-reply"></i>
				          <% end %>    
				        </div>
				      </td>
				    </tr>
				  <% end %>
				</table>
				<div class="formSepUpp">
					<%= bulk_update_dropdown Hash['reinstate' => 'Reinstate', 'destroy' => 'Destroy'] %>
				</div>
				<% end %>

			</div>
		<% end %>

		<div class="clearboth"></div>

	</div>

</div>

<script type="text/javascript">
	$('.check_all').on("click", function(){
		var form = $(this).closest('form');
		$('td input[type="checkbox"]', form).click(); 
	});
</script>