<!DOCTYPE html>
<html>
	<head>
		<%= get_meta_headers %>
		<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<%= stylesheet_link_tag "public/application", :media => "all" %>
		<%= javascript_include_tag 'public/application' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="m">
    
	    	<div id="header">
	        
	        	<div class="one_third">
	                        	
	                <a href="#" class="logo"><strong></strong></a>
	            
	            </div>
	            <div class="one_third">
	            	<div>
	            		<%= get_search_form %>
	            	</div>
	            </div>
	            <div class="one_third last">
	            
	            	<div class="contact">
	                	
	                    <span class="get_in_touch">Get In Touch</span>
	                    <span class="tel">07800 976537</span>
	                    <span class="email"><a href="mailto:info@roroacms.co.uk">info@roroacms.co.uk</a></span>
	                    
	                </div>
	            
	            </div>
	        	<div class="clear"></div>
	            
	        </div>
	    	
	        <div id="nav">
	        	<div class="menu-main-container">
			        <ul>
			        	<li><a href="<%= site_url %>">Home</a></li>
			        	<li><a href="<%= site_url 'about' %>">About</a></li>
			        	<li><a href="<%= site_url 'gallery' %>">Gallery</a></li>
			        	<li>
			        		<a href="<%= site_url 'services' %>">Services</a>
			        		<ul>
			        			<li><a href="#">Service 1</a></li>
			        			<li><a href="#">Service 2</a></li>
			        			<li><a href="#">Service 3</a></li>
			        			<li><a href="#">Service 4</a></li>
			        			<li><a href="#">Service 5</a></li>
			        		</ul>
			        	</li>
			        	<li><a href="<%= site_url 'news' %>">News</a></li>
			        	<li><a href="<%= site_url 'suppliers' %>">Suppliers</a></li>
			        	<li><a href="<%= site_url 'contact' %>">Contact</a></li>
			        </ul>
			    </div>	
	        </div>
	        <div class="divide_shadow"></div>
	        
        <div id="main">

        	<div class="breadcrumbWrapper">
				<%= render_breadcrumbs %>
				<div class="clear"></div>
			</div>


			<%= yield %>

        </div>
        
        <div class="divide_shadow"></div>
        
        <div id="footer">
        
        	<div class="one_half">
            
            	<a href="<%= site_url %>" class="footer_logo"></a>
            	
                <p>Copyright <%= Time.now.year %> Roroa CMS, All Rights Reserved</p>
                
                <p class="credits"><a href="http://www.roroacms.co.uk">Roroa CMS</a></p>
                
            </div>
            
            <div class="one_half last">
            
            	<div class="social">
                
                	<a href="<%= site_url %>" target="_blank" class="linkdIn"></a>
                    <a href="<%= site_url %>" target="_blank" class="twitter"></a> 
                    <a href="<%= site_url %>" target="_blank" class="facebook"></a>                   
                    
                </div>

                <div class="menu-footer-container">
                	<ul class="menu" id="menu-footer">
                		<li><a href="<%= site_url %>">Home</a></li>
                		<li><a href="<%= site_url 'privacy-policy' %>">Privacy Policy</a></li>
                		<li><a href="<%= site_url 'terms-and-conditions' %>">Terms and Conditions</a></li>
                		<li><a href="<%= site_url 'cookies' %>">Cookies</a></li>
                		<li><a href="<%= site_url 'contact' %>">Contact</a></li>
					</ul>
                </div>
            	
                
            </div>
        
        </div>
        
    </div>
</body>
</html>