<!DOCTYPE html>
<html>
	<head>
		<%= get_meta_headers %>
		<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<%= stylesheet_link_tag "theme/roroa1/application", :media => "all" %>
		<%= javascript_include_tag 'theme/roroa1/application' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="m">
    
	    	<div id="header">
	        
	        	<div class="one_third">
	                        	
	                <a href="<%= site_url %>" class="logo"><strong></strong></a>
	            
	            </div>
	            <div class="one_third">
	            	<div>
	            		<%= get_search_form %>
	            	</div>
	            </div>
	            <div class="one_third last">
	            
	            	<div class="contact">
	                	
	                    <span class="get_in_touch">Get In Touch</span>
	                    <span class="tel">07800 976537</span>
	                    <span class="email"><a href="mailto:info@roroacms.co.uk">info@roroacms.co.uk</a></span>
	                    
	                </div>
	            
	            </div>
	        	<div class="clear"></div>
	            
	        </div>
	    	
	        <div id="nav">
	        	<div class="menu-main-container">
	        		<%= get_menu 'header' %>
			    </div>	
	        </div>
	        <div class="divide_shadow"></div>
	        
        <div id="main">

        	<% if !is_page 'contact' %>

	        	<div class="breadcrumbWrapper">
					<%= render_breadcrumbs %>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>

			<% end %>

			<%= yield %>

        </div>
        
        <div class="divide_shadow"></div>


        
        <div id="footer">
        
        	<div class="one_half">
            
            	<a href="<%= site_url %>" class="footer_logo"></a>
            	
                <p>Copyright <%= Time.now.year %> Roroa CMS, All Rights Reserved</p>
                
                <p class="credits"><a href="http://www.roroacms.co.uk">Roroa CMS</a></p>
                
            </div>
            
            <div class="one_half last">

                <div class="menu-footer-container">
                	<%= get_menu 'footer' %>
                </div>
            	
                
            </div>
        
        </div>
        
    </div>
</body>
</html>