<div class="three_fourth">

	<h1><%= display_title %></h1>

	<span class="date"><%= display_date %></span>

	<%= display_content %>

	<%= get_tag_cloud 'string' %>

	<%= display_author_information %>

	<%= display_comments_form %>

</div>

<div class="one_fourth last">

	<%= render theme_url 'sidebar' %>
	
</div>

<div class="clear"></div>