<div class="panel panel-default">
    <div class="panel-heading">
    	<h3 class="panel-title"><i class='fa fa-external-link pull-left'></i>&nbsp;<%= I18n.t("views.admin.menus.partials.menu_accordion.custom_link") %></h3>
		<div class="actions pull-right">
			<i class="fa fa-chevron-down"></i>
		</div>
    </div>
    <div class="panel-body">

    	<form action='' method='post' data-type='custom'>
	    	<input type='hidden' name='type' value='custom' />
	    	<div class="form-group">
	    		<input type='text' name='customlink' placeholder='<%= I18n.t("views.admin.menus.partials.menu_accordion.custom_placeholder") %>' class="form-control" />
	    	</div>
	    	<div class="form-group">
	    		<input name='label' type='text' placeholder='<%= I18n.t("views.admin.menus.partials.menu_dropdown.placeholder_2") %>' class="form-control">
	    	</div>
	    	<div class="form-group">
				<input name='class' type='text' placeholder='<%= I18n.t("views.admin.menus.partials.menu_dropdown.placeholder_3") %>' class="form-control">
			</div>
			<label><%= I18n.t("views.admin.menus.generic.target") %></label>
			<div class="form-group">
				<div class="radio-inline">
					<input type="radio" value="sw" name="target" checked="checked"><%= I18n.t("views.admin.menus.generic.same_window") %>
				</div>
				<div class="radio-inline">
					<input type="radio" value="nt" name="target"><%= I18n.t("views.admin.menus.generic.new_tab") %>
				</div>
			</div>

			<div class='formSepUpp'>
				<button type='submit' class='btn btn-sm btn-primary pull-left'> 
				    <i class='fa fa-plus'></i>&nbsp; <%= I18n.t("views.admin.menus.generic.add_link") %>
				  </button>
			</div>
	   	</form>

    </div>
</div>