<% if notice %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Well done!</strong> <%= notice %>
  </div>
<% end %>
<%= form_tag(site_url('admin/settings/general')) do %>

	<%= hidden_field_tag 'redirect', 'seo' %>

	<div class="field">
		<%= label_tag(:seo_site_title, "Website Title") %>
		<%= text_field_tag(:seo_site_title, Setting.find_by_setting_name('seo_site_title')[:setting]) %>
	</div>
	<div class="field">
		<%= label_tag(:seo_home_title, "Home Title") %>
		<%= text_field_tag(:seo_home_title, Setting.find_by_setting_name('seo_home_title')[:setting]) %>
	</div>
	<div class="field">
		<%= label_tag(:seo_home_description, "Home Description") %>
		<%= text_area_tag(:seo_home_description, Setting.find_by_setting_name('seo_home_description')[:setting]) %>
	</div>

	<!-- <div class="field">
		<%= label_tag "Canonical URL's" %>
		<%= check_box_tag :seo_canonical_urls, 'Y', true %>
	</div> -->

	<div class="field">
		<%= label_tag(:seo_404_title, "404 Title") %>
		<%= text_field_tag(:seo_404_title, Setting.find_by_setting_name('seo_404_title')[:setting]) %>
	</div>

	<div class="field">
		<%= label_tag(:seo_404_description, "404 Description") %>
		<%= text_area_tag(:seo_404_description, Setting.find_by_setting_name('seo_404_description')[:setting]) %>
	</div>

	<div class="field">
		<%= label_tag(:seo_google_analytics_code, "Google Analytics ID") %>
		<%= text_field_tag(:seo_google_analytics_code, Setting.find_by_setting_name('seo_google_analytics_code')[:setting]) %>
	</div>

	<div class="field">
		<%= label_tag "Rewrite Titles" %>
        <%= check_box_tag :seo_rewrite_titles, 'Y', true %>
	</div>

	<div class="field">
		<%= label_tag "No index categories" %>
        <%= check_box_tag :seo_no_index_categories, 'Y', false %>
	</div>

	<div class="field">
		<%= label_tag "No index archives" %>
        <%= check_box_tag :seo_no_index_archives, 'Y', false %>
	</div>

	<div class="field">
		<%= label_tag "Autogenerate Decriptions" %>
        <%= check_box_tag :seo_autogenerate_descriptions, 'Y', true %>
	</div>

	<div class="field">
		<%= label_tag(:seo_additional_headers, "Additional Headers") %>
		<%= text_area_tag(:seo_additional_headers, Setting.find_by_setting_name('seo_additional_headers')[:setting]) %>
	</div>

	<div class="field">
		<%= submit_tag "Update", :class => 'btn btn-primary' %>
	</div>

<% end %>
		