<div class="row settings-area">

  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body" id="collapsed_tabs">
        <div class="tab-wrapper tab-left ">
          <ul class="nav nav-tabs">
            <li class="tooltipState active" data-toggle="tooltip" data-placement="right" data-title="<%= t("views.admin.menus.index.new_menu") %>">
              <a href="#new" data-toggle="tab">
                <i class="fa fa-plus"></i>
              </a>
            </li>
            <% @all_menus.each_with_index do |m, index| %>
              <li class="tooltipState" data-toggle="tooltip" data-placement="right" title="<%= m.name %>">
                <a href="#<%= m.key + '-' + index.to_s %>" data-toggle="tab">
                  <i class="fa fa-list"></i>
                </a>
              </li>
            <% end %>
          </ul>
          <div class="tab-content">

            <%= render :partial => 'roroacms/admin/partials/submit_bar', locals: { unbuttoned: false } %>
            
            <div class="tab-pane active" id="new">
              <%= render 'menu_form' %>
            </div>

            <% @all_menus.each_with_index do |m, index| %>
              <div class="tab-pane menu-group-display" id="<%= m.key + '-' + index.to_s %>">
                <%= get_menu_groups m %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>

  </div>
  
</div>