<h4 class="title">Revision for "<%= link_to @revision['parent'].post_title, :controller => "admin/#{@revision['parent'].post_type}s", :action => "edit", :id => @revision['parent'].id %>" created on <%= @revision['revision'].created_at.strftime "%d %B, %Y at %H:%M" %></h4>

<div class="row">

	<div class="span3">
		<strong>Title</strong>
	</div>

	<div class="span9">
		<%= @revision['revision'].post_title %>
	</div>

</div>

<div class="row">

	<div class="span3">
		<strong>Content</strong>
	</div>

	<div class="span9">
		<%= @revision['revision'].post_content.html_safe %>
	</div>

</div>

<%= link_to restore_admin_revision_path(@revision['revision'].id), :class => 'btn' do %>
	<i class="icon-magic">&nbsp;Restore</i>
<% end %>

<h4 class="title">All Revisions</h4>
<%= render :partial => 'autosave_table' %>


