<div class="panel panel-primary animated">
  
  <div class="panel-heading">
      <div class="brandLogin"></div>    
  </div>
  <div class="panel-body">

  	<div class="row">

  		  <div class="col-md-12">

  		  	<div class="form-group col-md-12">
	  		  	<h2><%= @title %></h2>
	  		  	<hr>
	  		  	<p><%= t("views.admin.installation.content") %></p>
	  		  	<div class="clearfix"></div>
	  		  	<hr>
	  		  </div>

  		  	<%= form_tag(setup_index_path, :html => { class: 'form-horizontal' }) do %>

            <div class="form-group">
                <%= label_tag(:site_url, t("views.admin.settings.tab_content.site_url"), class: "col-sm-3 control-label") %>
                <div class="col-sm-6">
                  <%= text_field_tag(:site_url, @settings['site_url'], class: 'form-control') %>
                  <%= setting_errors_for @settings, :site_url %>
                </div>
                <div class="clearfix"></div>
            </div>

					  <div class="form-group">
					    <%= label_tag(:site_email, t("views.admin.settings.tab_content.site_email"), class: "col-sm-3 control-label") %>
					    <div class="col-sm-6">
					      <%= text_field_tag(:site_email, @settings['site_email'], class: 'form-control') %>
                <%= setting_errors_for @settings, :site_email %>
					    </div>
					    <div class="clearfix"></div>
					  </div>
					  <div class="form-group">
					    <%= label_tag(:articles_slug, t("views.admin.settings.tab_content.articles_slug"), class: "col-sm-3 control-label") %>
					    <div class="col-sm-6">
					      <%= text_field_tag(:articles_slug, @settings['articles_slug'], class: 'form-control') %>
                <%= setting_errors_for @settings, :articles_slug %>
					    </div>
					    <div class="clearfix"></div>
					  </div>
					  <div class="form-group">
					    <%= label_tag(:category_slug, t("views.admin.settings.tab_content.category_slug"), class: "col-sm-3 control-label") %>
					    <div class="col-sm-6">
					      <%= text_field_tag(:category_slug, @settings['category_slug'], class: 'form-control') %>
                <%= setting_errors_for @settings, :category_slug %>
					    </div>
					    <div class="clearfix"></div>
					  </div>
					  <div class="form-group">
					    <%= label_tag(:tag_slug, t("views.admin.settings.tab_content.tag_slug"), class: "col-sm-3 control-label") %>
					    <div class="col-sm-6">
					      <%= text_field_tag(:tag_slug, @settings['tag_slug'], class: 'form-control') %>
                <%= setting_errors_for @settings, :tag_slug %>
					    </div>
					    <div class="clearfix"></div>
					  </div>

            <hr>

            <br>

							<div class="form-group">
                <%= label_tag(:aws_access_key_id, t("views.admin.settings.tab_content.aws_access_key_id"), class: "col-sm-3 control-label") %>
                <div class="col-sm-6">
                  <%= text_field_tag(:aws_access_key_id, @settings['aws_access_key_id'], class: 'form-control') %>
                  <%= setting_errors_for @settings, :aws_access_key_id %>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <%= label_tag(:aws_secret_access_key, t("views.admin.settings.tab_content.aws_secret_access_key"), class: "col-sm-3 control-label") %>
                <div class="col-sm-6">
                  <%= text_field_tag(:aws_secret_access_key, @settings['aws_secret_access_key'], class: 'form-control') %>
                  <%= setting_errors_for @settings, :aws_secret_access_key %>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <%= label_tag(:aws_bucket_name, t("views.admin.settings.tab_content.aws_bucket_name"), class: "col-sm-3 control-label") %>
                <div class="col-sm-6">
                  <%= text_field_tag(:aws_bucket_name, @settings['aws_bucket_name'], class: 'form-control') %>
                  <%= setting_errors_for @settings, :aws_bucket_name %>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="form-group">
                <%= label_tag(:aws_folder, t("views.admin.settings.tab_content.aws_folder"), class: "col-sm-3 control-label") %>
                <div class="col-sm-6">
                  <%= text_field_tag(:aws_folder, @settings['aws_folder'], class: 'form-control') %>
                  <%= setting_errors_for @settings, :aws_folder %>
                </div>
                <div class="clearfix"></div>
              </div>

            <div class="form-group">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-6">
                  <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;<%= t("views.admin.generic.save_and_continue") %></button>
                </div>
                <div class="clearfix"></div>
              </div>

					<% end %>

  		  </div>

  	</div>

  </div>

</div>