<% if type == 'F' %>

<div class="fb-comments" data-href="<%= site_url() %>" data-width="470" data-num-posts="10"></div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<% else %>

    <% if flash[:notice] %>
      
      <p style="color:green"><%= flash[:notice] %></p>

    <% end %>


    <% if flash[:error] %>
      
      <p style="color:green"><%= flash[:error] %></p>

    <% end %>

    <%= get_comments_loop %>

    <%= form_for [@comment] do |f| %>

      <fieldset class="commentForm">

        <%= f.hidden_field :post_id, :value => @content.id %>
        <%= f.hidden_field :comment_parent, :value => nil %>

        <div id="replyToTitle"></div>

        <div class="field">
          <%= f.label :author %>
          <%= f.text_field :author, size: 40 %>
        </div>
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email, size: 40 %>
        </div>
        <div class="field">
          <%= f.label :website %>
          <%= f.text_field :website %>
        </div>
         <div class="field">
          <%= f.label :comment %>
          <%= f.text_area :comment %>
        </div>
        <div class="field">
            <%= f.submit "Submit Comment", :class => 'btn' %>
        </div>
      </fieldset>
    <% end %>

<% end %>
<!-- 
<script type="text/javascript">
  
  jQuery(function () {
    var replyTo = $(".reply");
    var buttons = $(".replyBtn");
    $(".replyBtn").click(function (e) {
        e.preventDefault();
        replyTo.val($(this).attr("data-id"));
        var title = $(this).siblings(".blogPostTitle").children('.blogEntry').html();
        $('#commentArea .blogEntry').html('Reply to:- ' + title);
        $('#commentArea input[name="submit"]').val('Reply');
        $('html,body').animate({
            scrollTop: $("#commentArea").offset().top
        }, 'slow');
    });
    $(".commentBtn").click(function (e) {
        e.preventDefault();
        replyTo.val('');
        var title = $(this).siblings(".blogPostTitle").children('.blogEntry').html();
        $('#commentArea .blogEntry').html('Comment');
        $('#commentArea input[name="submit"]').val('Comment');
        $('html,body').animate({
            scrollTop: $("#commentArea").offset().top
        }, 'slow');
    });
});


</script> -->