	<div id="mediaAreaWrapper">
    	<div id="bucketReference" data-ref="<%= @url %>" data-key="" data-hasfolder="" data-limit-reached="<%= @limit_reached.to_s %>"></div>
    	<div class="mediaHeader"><small style="margin-left:10px">* Please be patient when uploading files espeically PDF's. Don't worry it is uploading!</small></div>
    	<div class="mediaBody">


			<div class="mediaPanel leftMenu foldersMenu" style="">

				<%= render_folder_loop true %>
				
			</div>

			<div class="mediaPanel rightMenu fileMenu" style="">

				<div class="h">
					

					<div class="input-append span6 pull-right">
						<% if !@limit_reached %>
							<%= form_tag admin_media_path, :method => "post", :class => 'addFolder pull-right' do %>  
							    <%= text_field_tag "create_dir", '', :placeholder => 'Create Folder', :class => 'input-medium' %>  
							    <%= submit_tag "Create", :class => 'btn btn-warning ' %>  
							<% end %> 
						<% end %>
					</div>
					
					<div class="pull-left">
						<% if !@limit_reached %>
							<button class="pull-left btn btn-small btn-warning" id="fileUploadActivator"><span class="fa fa-plus"></span>&nbsp;Upload Media</button>
						<% end %>
					</div>
					<div class="clearboth"></div>
				</div>

				
				<div class="showFiles">
					<div class="loadingSpinner" style="display: none;"><div class="spinnerPostioner"><i class="fa fa-spinner fa-3x fa-spin"></i></div></div>
				</div>

			</div>

			<div class="mediaPanel rightMenu imageView" style="">

				<div class="h">
					<div class="pull-left"><span class="name"></span><br /><small>*If you change the name please make sure you update any current links to this file</small></div>
					<div class="pull-right"><i class="fa fa-times-circle"></i></div>
					<div class="clearboth"></div>
				</div>
				<div class="showMisc">
					
				</div>

			</div>

			<div class="mediaPanel rightMenu fileUpload" style="">

				<div class="h">
					<div class="pull-right"><i class="fa fa-times-circle"></i></div>
					<div class="clearboth"></div>
				</div>
				<div class="showFileUpload" id="my-awesome-dropzone">
					<div class="uploadInfo">
						<i class="fa fa-cloud-upload fa-5x"></i>&nbsp;<span>Drop files here </span><br /><small class="tabletClick">(Click if on a tablet)</small>
					</div>
				</div>

			</div>

    	</div>
    	<!-- <div class="mediaFooter"></div> -->

    </div>

    <div id="mediaNotAvailable">
    	<div class="row-fluid">
			<div class="span12 marginTop50">
				<h5 class="align-center thin">Media area is not avalible on smaller screens</h5>
			</div>
		</div>
    </div>