<div class="row-fluid">
  <div class="span12">
          
    <h2 class="title">Media</h2>

    <div class="well">

    <%= link_to admin_filebrowser_index_path, :id => 'filebrowser' do %>
    	<button class="pull-left btn btn-small btn-warning"><span class="icon-plus"></span>&nbsp;Upload Media</button>
  	<% end %>


	<%= link_to 'https://console.aws.amazon.com/s3/', :target => "_blank" do %>
    	<button class="pull-right btn btn-small btn-warning"><span class="icon-plus"></span>&nbsp;Launch S3 Console</button>
  	<% end %>
  	
      <div class="clearboth"></div>
    </div>

		<% if @files.blank? %>
		  <div class="" style="text-align:center;">
		    <strong style="margin-top:100px; font-size:25px; display:block; ">You currently have no media</strong>
		  </div>

		<% else %>
			<%= form_tag site_url("admin/media/bulk_update") do %>
			<table class="table table-bordered table-striped table_vam">
			    <thead>
			      <tr>
			        <th><%= check_box_tag 'all', 'all', false, :id => 'check_all' %></th>
			        <th>File</th>
			        <th>File Url</th>
			        <th>Action</th>
			      </tr>
			    </thead>
				<% @files.each do |file| %>  
					<tr>
						<td><%= check_box_tag 'media[]', file.key %></td>
						<td><%= deal_with_filecontents(file.content_type) %></td>
						<td>
							<%= link_to download_url_for(file.key), :target => '_blank' do %>
								<%= download_url_for(file.key) %>
							<% end %>
						</td>
						<td>
				          <div class="btn-group">          
				            <%= link_to "media/delete/?file=" + file.key, confirm: 'Are you sure?', :class => 'btn btn-small' do %>
				              <i class="icon-trash"></i>
				            <% end %>
				          </div>
				        </td>

					</tr>
				<% end %>
			</table>
			<%= bulk_update_dropdown Hash['move_to_trash' => 'Destroy'] %>
			<% end %>
		<% end %>
	</div>
</div>

<%= form_tag admin_media_path, :method => "post" do %>  
    <%= text_field_tag "create_dir" %>  
    <%= submit_tag "Create" %>  
<% end %>  


<script type="text/javascript">


	function popitup() {
		var left = (screen.width/2)-(1137/2);
		var top = (screen.height/2)-(600/2);
		newwindow=window.open("<%= site_url('admin/filebrowser/?manualBrowse=true') %>",'name','height=600,width=1137,scrollbars=yes,top='+top+',left=' + left);
		if (window.focus) {newwindow.focus()}
		return false;
	}

	$(document).ready(function(){
		$('#filebrowser').bind('click', function(e){
			e.preventDefault();
			popitup();
		})
	})
</script>





