<div class="row" id="postPage">
    <%= form_for [:admin, @post] do |f| %>
      <div class="span9">
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> errors:</h2>

          <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <fieldset>
        <div class="field">
          <%= f.hidden_field :admin_id, :value => session[:admin_id], size: 40 %>
          <%= f.hidden_field :id %>
        </div>
        <div class="field">
          <%= f.hidden_field :post_type, :value => "post" %>
        </div>
        <div class="field">
          <%= f.text_field :post_title, size: 40, :placeholder => 'Post Title' %>
        </div>
 
        <div class="field">
          <%= f.text_area :post_content, :class => 'redactor' %>
        </div>
      </fieldset>


    <script type="text/javascript">
        
        $(document).ready(function(){
            setInterval(function(){
              if($('#post_post_title').val() != ""){
                var form = $('form');
                var method = form.attr('method').toLowerCase();      // "get" or "post"
                var action = form.attr('action');  
                 if($('input[name="_method"]').length > 0){  
                    $.post('/admin/posts/autosave_update', form.serialize(), function(data){
                      $('#revisionsContainer').html(data)
                    });
                  } else {
                  //   $.post('/admin/posts/autosave_create', form.serialize(), function(data){
                  //   conosle.log('done that for you bud!')
                  //   });
                  }
                }
            }, 12000);

            $("#post_post_title").keyup(function(){
                $("#post_post_slug").val($(this).val().toLowerCase().split(' ').join('-'));
            });
        })

    </script>
    <div class="accordion" id="accordionSeo">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordionSeo" href="#collapseThree"><i class="icon-bar-chart pull-left"></i>&nbsp;Search Engine Optimisation<i class="accordionSign pull-right"></i></a>
        </div>
        <div id="collapseThree" class="accordion-body collapse">
          <div class="accordion-inner">
            <table class="seoDataTable">
              <tbody>
                <tr>
                    <td><%= f.label 'Title:' %></td>
                    <td><%= f.text_field :post_seo_title, size: 40 %><span><small>* The contents of this tag are generally shown as the title in search results (and of course in the user's browser)</small></span></td>
                </tr>
                <tr>
                    <td><%= f.label 'Description:' %></td>
                    <td><%= f.text_area :post_seo_description %><span><small>* This tag provides a short description of the page. In some situations this description is used as a part of the snippet shown in the search results</small></span></td>
                </tr>
                <tr>
                    <td><%= f.label 'Is disabled on this page:' %></td>
                    <td><%= f.check_box :post_seo_is_disabled, {checked: false}, 'Y', 'N'  %><span><small>* if you want to leave these blank</small></span></td>
                </tr>
                <tr>
                    <td><%= f.label 'No Index:' %></td>
                    <td><%= f.check_box :post_seo_no_index, {}, 'Y', 'N' %><span><small>* prevents the page from being indexed</small></span></td>
                </tr>
                <tr>
                    <td><%= f.label 'No Follow:' %></td>
                    <td><%= f.check_box :post_seo_no_follow, {}, 'Y', 'N'  %><span><small>* prevents the Googlebot from following links from this page</small></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>  

  <%= render 'autosave' %>

  </div>
  <div class="span3">

    <div class="accordion" id="accordion1">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne"><i class="icon-lightbulb pull-left"></i>&nbsp;Publish<i class="accordionSign pull-right"></i></a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            <div class="field">
              <%= f.label :post_slug %>
              <%= f.text_field :post_slug, size: 40 %>
            </div>
            <div class="field">
              <%= f.label :post_status %>
               <%= f.select :post_status, Post::POST_STATUS, prompt: 'Select a Post Status' %>
            </div>
            <div class="field">
              <%= f.label :post_parent %>
              <%= f.select :post_parent, Post.where(:post_type => 'post', :disabled => 'N').collect {|p| [ p.post_title, p.id ] }, prompt: 'Select a parent post' %>
            </div>
            <div class="field">
              <%= f.label :post_date %>
              <%= f.datetime_select :post_date, {:order => [:day, :month, :year, :hour, :minute], :use_short_month => true}, :class => 'dateselect' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"><i class="icon-sitemap pull-left"></i>&nbsp;Article Categories<i class="accordionSign pull-right"></i></a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
              <div class="field">
                <% Post::POST_CATEGORIES.each do |category| %>
                  
                    <li>
                      <%= check_box_tag 'category_ids[]', category.id, @post.terms.find_by_id(category.id) ? true : false %><%= label_tag category.name %>
                    </li>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>   
    <div class="accordion tagsAccordion" id="accordionTags">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordionTags" href="#collapseTags"><i class="icon-tags pull-left"></i>&nbsp;Article Tags<i class="accordionSign pull-right"></i></a>
        </div>
        <div id="collapseTags" class="accordion-body collapse">
           <div class="accordion-inner">
              <div class="field">
                <% Post::POST_TAGS.each do |tag| %>
                    <li>
                      <%= check_box_tag 'tag_ids[]', tag.id, @post.terms.find_by_id(tag.id) ? true : false %><%= label_tag tag.name %>
                    </li>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>      

  </div>
  <% end %>
</div>