<div class="row">
	<div class="col-lg-12 col-md-12">
		<h1 class="page-header"><%= display_title %></h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12">
		<%= render_breadcrumbs %>
	</div>
</div>

<div class="row">
	<div class="col-md-8">

		<hr>
        <p><i class="fa fa-clock-o"></i> Posted on <%= display_date %> by <%= display_author_information(true).first_name + ' ' + display_author_information(true).last_name %></p>
        <hr>

		<%= display_content %>

		<div class="well">
			<strong>Tags:</strong>&nbsp;<%= tag_cloud %>
		</div>

		<hr>
		<%= abort has_tag?(145).inspect %>
        <p><i class="fa fa-user"></i> <%= display_author_information(true).first_name + ' ' + display_author_information(true).last_name %></p>
        <p><%= display_author_information(true).description %></p>
        <hr>

        <%= display_comments_form %>

	</div>

	<div class="col-md-4">
		<%= render theme_url('sidebar') %>
	</div>

</div>
