        <div class="row">
    		<div class="col-lg-12 col-md-12">
    			<% if !get_term_type.blank? %>
					<h1 class="page-header"><%= get_term_type %> - <%= get_term_name %></h1>
				<% else %>
					<h1 class="page-header">News</h1>
				<% end %>
    		</div>
    	</div>


    	<div class="row">
    		<div class="col-lg-12 col-md-12">
    			<%= render_breadcrumbs %>
    		</div>
    	</div>

		<div class="row">
    		<div class="col-md-8">

		        <div class="row">

		            

		            <% if !get_category_data.blank?

					 	get_category_data.each do |p| %>

					 		<div class="blogoption">
						 		<div class="col-md-5">
					                <a href="<%= get_the_permalink p %>">
					                    <img src="http://placehold.it/600x325" class="img-responsive">
					                </a>
					            </div>
					            <div class="col-md-6">
					                <strong><a href="<%= get_the_permalink p %>"><%= get_the_title p %></a></strong>
					                <p><%= get_the_date p %></p>
					                <p><%= get_the_excerpt p, 100 %></p>
					                <a class="btn btn-primary" href="<%= get_the_permalink p %>">Read More <i class="fa fa-angle-right"></i></a>
					            </div>
					            <div class="clearfix"></div>
					        </div>


						<% end %>

					<% else %>
						<div class="col-md-12">
							<p>No articles match the criteria.</p>
						</div>

					<% end %>

					<div class="col-md-12">
						<%= paginate get_category_data %>
					</div>

		        </div>

    		</div>

    		<div class="col-md-4">
    			<%= render theme_url('sidebar') %>
    		</div>

    	</div>
