<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= favicon_link_tag 'roroacms/admin/favicon.ico' %>
    <title><%= @meta_translation %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- jQuery UI -->
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <%= stylesheet_link_tag "roroacms/admin/application", :media => "all" %>
    <%= javascript_include_tag 'roroacms/admin/application' %>

    <%= csrf_meta_tags %>
  </head>
  <body class="grey">

	  	<section id="login-container" class="container">
	        <div class="row">
	            <div class="col-md-8" id="login-wrapper">
	                <%= yield %>
	            </div>
	        </div>

	    </section>

  </body>

</html>