<%= form_tag site_url("admin/articles/bulk_update") do %>
  <table id="dtable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="checkboxth hidden-xs"><%= check_box_tag 'all', 'all', false, :id => 'check_all' %></th>
        <th><%= I18n.t("views.admin.partials.articles_table.post_title") %></th>
        <th class="hidden-xs"><%= I18n.t("views.admin.partials.articles_table.published_date") %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <% @posts.each do |post| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %> <%= post.post_status == "Draft" ? 'draft' : '' %>">

        <td class="hidden-xs"><%= check_box_tag 'posts[]', post.id %></td>
        <td><%= post.post_title %><%= post.post_status == "Draft" ? I18n.t("views.admin.partials.articles_table.draft") : '' %></td>
        <td class="hidden-xs"><%= post.post_date.strftime "%d-%m-%Y" %></td>
        <td class="center">
          <%= link_to edit_admin_article_path(post), :class => '' do %>
            <i class="fa fa-pencil"></i>
          <% end %>        
          <%= link_to page_path(post), :class => '', :target => "_blank" do %>
            <i class="fa fa-search"></i>
          <% end %>     
          <%= link_to admin_article_path(post), method: :delete, data: { confirm: I18n.t("views.admin.generic.confirm") }, :class => '' do %>
            <i class="fa -trash-o"></i>
          <% end %>
        </td>

      </tr>
    <% end %>
  </table>
  <div class="hidden-xs">
    <hr>
    <%= bulk_update_dropdown Hash['publish' => I18n.t("views.admin.generic.bulk_update_options.publish"), 
                                  'draft' => I18n.t("views.admin.generic.bulk_update_options.draft"), 
                                  'move_to_trash' => I18n.t("views.admin.generic.bulk_update_options.move_to_trash")] %>
  </div>

<% end %>