<%= form_tag site_url("admin/banners/bulk_update") do %>
    <table id="dtable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="checkboxth"><%= check_box_tag 'all', 'all', false, :id => 'check_all' %></th>
        <th>Banner Name</th>
        <th>Image</th>
        <th>Category</th>
        <th>Action</th>
      </tr>
    </thead>
    <% @banners.each do |banner| %>
      <tr>

      <td><%= check_box_tag 'banners[]', banner.id %></td>
    	<td><%= banner.name %></td>
    	<td class="image"><img src="<%= banner.image %>" width="100"/></td>
    	<td>
    		<%= banner.terms.all.collect {|u| u.name}.join ', ' %>
    	</td>
        <td class="center">
        <%= link_to edit_admin_banner_path(banner), :class => '' do %>
          <i class="fa fa-pencil"></i>
        <% end %>              
        <%= link_to admin_banner_path(banner), method: :delete, data: { confirm: 'Are you sure?' }, :class => '' do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
        </td>
      </tr>
    <% end %>
    </table>
    <hr>
    <%= bulk_update_dropdown Hash['move_to_trash' => 'Move To Trash'] %>
<% end %>