<%= render partial: 'admin/partials/table_header', locals: {path: new_admin_page_path, name: I18n.t("views.admin.pages.index.add_new_page") } %>

<%= form_tag site_url("admin/pages/bulk_update") do %>

  <table id="dtable" class="table table-hover"  width="100%">
    <thead>
      <tr>
        <th class="checkboxth hidden-xs"><%= check_box_tag 'all', 'all', false, :id => 'check_all' %></th>
        <th><%= I18n.t("views.admin.partials.pages_table.page_title") %></th>
        <th class="hidden-xs"><%= I18n.t("views.admin.partials.pages_table.published_date") %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <%= nested_table @pages %>
  </table>
  <hr>
  <div class="hidden-xs">
    <%= bulk_update_dropdown Hash['publish' => I18n.t("views.admin.generic.bulk_update_options.publish"), 
                                  'draft' => I18n.t("views.admin.generic.bulk_update_options.draft"), 
                                  'move_to_trash' => I18n.t("views.admin.generic.bulk_update_options.move_to_trash")] %>
  </div>
  <div id="paginationWrapper"></div>

<% end %>