 <tr class="<%= cycle('list_line_odd', 'list_line_even') %> <%= @content.post_status == "Draft" ? 'draft' : '' %>">

  <td class="hidden-xs"><%= check_box_tag 'pages[]', @content.id %></td>
	<td><%= ancestory_indent @content %><%= @content.post_title %><%= @content.post_status == "Draft" ? ' ' + I18n.t("views.admin.partials.articles_table.draft") : '' %></td>
	<td class="hidden-xs"><%= @content.post_date.strftime "%d-%m-%Y" %></td>
  <td class="center">
      <%= link_to edit_admin_page_path(@content), :class => '' do %>
        <i class="fa fa-pencil"></i>
      <% end %>        
     <%= link_to page_path(@content), :class => '', :target => "_blank" do %>
        <i class="fa fa-search"></i>
      <% end %> 
      <%= link_to admin_page_path(@content), method: :delete, data: { confirm: I18n.t("views.admin.generic.confirm") }, :class => '' do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
  </td>
</tr>

<% if !@sub.blank? %>

  <%= nested_table(@sub) %>

<% end %>