<%= form_tag admin_general_settings_path do %>

<div class="field">
	<%= label_tag(:articles_slug, "Articles Slug") %>
	<%= text_field_tag(:articles_slug, Setting.find_by_setting_name('articles_slug')[:setting]) %>
</div>

<div class="field">
	<%= label_tag(:home_page, "Homepage") %>
	<%= select_tag :home_page, options_for_select(Post.all.collect {|p| [ p.post_title, p.id ] }, Setting.find_by_setting_name('home_page')[:setting]), prompt: 'Select a homepage' %>
</div>
<div class="field">
	<%= submit_tag "Update", :class => 'btn btn-primary' %>
</div>

<% end %>
		