<%= form_for [:admin, @category ||= Term.new] do |f| %>

    <%= hidden_field_tag :type_taxonomy, @type %>

    <div class="form-group">
      <%= f.label :name, :class => 'control-label' %>
      <%= f.text_field :name, size: 40, :class => "form-control" %>
      <%= errors_for @category, :name %>
    </div>
    <div class="form-group">
      <%= f.label :parent %>
      <% if @type == 'category' %>
        <%= f.select(:parent, Post.get_cats(@category.blank? ? nil : @category.id).all.collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}, { :class => "form-control" } )%>
      <% else %>
        <%= f.select(:parent, Post.get_tags(@category.blank? ? nil : @category.id).all.collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}, { :class => "form-control" }) %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :slug, :class => 'control-label' %>
      <%= f.text_field :slug, size: 40, :class => "form-control" %>
      <%= errors_for @category, :slug %>
    </div>
    <div class="form-group">
      <%= label_tag 'Description' %>
      <%= f.text_area :description, :rows => "5", :class => "form-control" %>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-small btn-primary">Save</button>
    </div>

<% end %>
