<%= form_for [:admin, @category] do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> errors:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="categoriesForm">

	<%= hidden_field_tag :type_taxonomy, 'tag' %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, size: 40 %>
    </div>
    <div class="field">
      <%= f.label :slug %>
      <%= f.text_field :slug, size: 40 %>
    </div>
    <div class="field">
      <%= label_tag 'Description' %>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <% if defined?(edit) && edit %>
        <%= f.submit "Edit Tag", :class => 'btn' %>
      <% else %>
        <%= f.submit "Add Tag", :class => 'btn' %>
      <% end %>
    </div>
  </fieldset>
<% end %>