<%= form_for [:admin, @category ||= Term.new], :html => { :multipart => true } do |f| %>
          
    <% if !@category.cover_image.blank? %>

      <div class="well well-background term<%= params[:action] == 'edit' ? '-large' : '' %>" style="background-image: url('<%= @category.cover_image %>');">
          <a style="margin:10px;" class="btn btn-xs btn-primary pull-right add-term-image hidden" href="javascript:;"><span class="fa fa-picture-o"></span> <%= t("views.admin.generic.change_cover") %></a>
          <a class="btn btn-xs btn-danger pull-right remove-profile-image" href="javascript:;"><span class="fa fa-trash-o"></span> <%= t("views.admin.administrators.form.remove_cover") %></a>
      </div>

    <% else %>

      <div class="well well-background term">
        <a class="btn btn-xs btn-primary pull-right add-term-image" href="javascript:;"><span class="fa fa-picture-o"></span> <%= t("views.admin.generic.change_cover") %></a>
        <a class="btn btn-xs btn-danger pull-right remove-profile-image hidden" href="javascript:;"><span class="fa fa-trash-o"></span> <%= t("views.admin.administrators.form.remove_cover") %></a>
      </div>

    <% end %>
    <%= hidden_field_tag :has_post_image, @category.cover_image.to_s  %>
    <%= f.file_field :cover_image %>

    <%= hidden_field_tag :type_taxonomy, @type %>

    <div class="form-group">
      <%= f.label :name, :class => 'control-label' %>
      <%= f.text_field :name, size: 40, :class => "form-control" %>
      <%= errors_for @category, :name %>
    </div>
    <div class="form-group">
      <%= f.label :parent %>
      <% if @type == 'category' %>
        <%= f.select(:parent, Term::CATEGORIES.collect {|p| [ p.name, p.id ] }, { include_blank: t("views.admin.generic.none"), selected: @category.id }, { class: "form-control" } )%>
      <% else %>
        <%= f.select(:parent, Term::TAGS.collect {|p| [ p.name, p.id ] }, { include_blank: t("views.admin.generic.none"), selected: @category.id }, { class: "form-control" }) %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :slug, :class => 'control-label' %>
      <%= f.text_field :slug, size: 40, :class => "form-control" %>
      <%= errors_for @category, :slug %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, :rows => "5", :class => "form-control" %>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-small btn-primary"><%= t("views.admin.generic.save") %></button>
    </div>

<% end %>
