<%= form_tag site_url("admin/terms/bulk_update"), :style => 'margin-top:23px;' do %>
	<%= hidden_field_tag :type_taxonomy, @type %>

	<table id="dtable" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<thead>
	  <tr>
	    <th><%= check_box_tag 'all', 'all', false, :class => 'check_all' %></th>
	    <th>Name</th>
	    <th>Slug</th>
	    <th class="center">Action</th>
	  </tr>
	</thead>
	<% @terms.each do |term| %>
	  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

	    <td><%= check_box_tag 'categories[]', term.id %></td>
		<td><%= term.name %></td>
		<td><%= term.slug %></td>
	    <td class="center">
	      <div class="btn-group">
	        <%= link_to edit_admin_term_path(term) do %>
	          <i class="fa fa-pencil"></i>
	        <% end %>        
	        <%= link_to admin_term_path(term), method: :delete, data: { confirm: 'Are you sure?' } do %>
	          <i class="fa fa-trash-o"></i>
	        <% end %>
	      </div>
	    </td>
	  </tr>
	<% end %>
	</table>
	<hr>
	<%= bulk_update_dropdown Hash['destroy' => 'Delete'] %>
<% end %>