<div class="tag-category-wrapper">
  <%= form_tag site_url("admin/terms/bulk_update"), :style => 'margin-top:23px;' do %>
    <%= hidden_field_tag :type_taxonomy, @type %>
    <table id="dtable" class="table table-hover" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="hidden-xs"><%= check_box_tag 'all', 'all', false, :class => 'check_all' %></th>
        <th><%= t("views.admin.generic.name") %></th>
        <th class="hidden-xs"><%= t("views.admin.terms.table.slug") %></th>
        <th class="center">&nbsp;</th>
      </tr>
    </thead>
    <% (@type == 'category' ? Term.term_cats('category') : Term.term_cats('tag')).each do |term| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

        <td class="hidden-xs"><%= check_box_tag 'categories[]', term.id %></td>
      <td><%= term.name %></td>
      <td class="hidden-xs"><%= term.slug %></td>
        <td class="center">
            <div class="btn-group pull-right">
          <%= link_to edit_admin_term_path(term), :class => 'btn btn-xs btn-default' do %>
            <i class="fa fa-pencil"></i>
          <% end %>        
          <%= link_to admin_term_path(term), :class => 'btn btn-xs btn-danger', method: :delete, data: { confirm: t("views.admin.generic.confirm") } do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        </div>
        </td>
      </tr>
    <% end %>
    </table>
    <div class="hidden-xs">
      <hr>
      <%= bulk_update_dropdown Hash['destroy' => t("views.admin.generic.bulk_update_options.destroy")] %>
    </div>
    <div id="paginationWrapper"></div>
  <% end %>
</div>