<div class="row">
	<div class="span4">

	    <div class="title">Add New Category</div>

		<%= render 'form' %>

	</div>

	<div class="span8">
	<%= form_tag "/admin/terms/bulk_update" do %>
		<%= hidden_field_tag :type_taxonomy, 'category' %>
		<div class="title">Post Categories</div>

		<table class="table table-bordered table-condensed table-striped">
		<thead>
		  <tr>
		    <th><%= check_box_tag 'all', 'all', false, :id => 'check_all' %></th>
		    <th>Name</th>
		    <th>Description</th>
		    <th>Slug</th>
		    <th>Action</th>
		  </tr>
		</thead>
		<% @categories.each do |category| %>
		  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

		    <td><%= check_box_tag 'categories[]', category.id %></td>
			<td><%= category.name %></td>
			<td><%= category.description %></td>
			<td><%= category.slug %></td>
		    <td>
		      <div class="btn-group">
		        <%= link_to edit_admin_term_path(category), :class => 'btn btn-small' do %>
		          <i class="icon-pencil"></i>
		        <% end %>        
		        <%= link_to admin_term_path(category), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-small' do %>
		          <i class="icon-trash"></i>
		        <% end %>
		      </div>
		    </td>
		  </tr>
		<% end %>
		</table>
		<%= bulk_update_dropdown Hash['destroy' => 'Delete'] %>
		<!-- <button type="button" id="check_all">
    Check / Uncheck All
</button> -->
	<% end %>
	</div>
</div>