<div class="row">
	<div class="span4">

	    <div class="title">Add New Category</div>

		<%= render 'form' %>

	</div>

	<div class="span8">
	<%= form_tag site_url("admin/terms/bulk_update") do %>
		<div class="title">Post Categories</div>

		<table class="table table-condensed table-striped">
		<thead>
		  <tr>
		    <th><%= check_box_tag 'all', 'all', false, :id => 'check_all' %></th>
		    <th>Name</th>
		    <th>Description</th>
		    <th>Slug</th>
		    <th>Action</th>
		  </tr>
		</thead>
		<% @categories.each do |category| %>
		  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

		    <td><%= check_box_tag 'categories[]', category.id %></td>
			<td><%= category.name %></td>
			<td><%= category.description %></td>
			<td><%= category.slug %></td>
		    <td>
		      <div class="btn-group">
		        <%= link_to edit_admin_term_path(category), :class => 'btn' do %>
		          <i class="icon-pencil"></i>
		        <% end %>        
		        <%= link_to admin_term_path(category), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' do %>
		          <i class="icon-trash"></i>
		        <% end %>
		      </div>
		    </td>
		  </tr>
		<% end %>
		</table>
		<%= select_tag "to_do", "<option>Move To Trash</option>".html_safe, prompt: 'Bulk Action', :class => 'span2' %>
		<%= submit_tag 'Submit', :class => "btn" %>
		<!-- <button type="button" id="check_all">
    Check / Uncheck All
</button> -->
	<% end %>
	</div>
</div>

<script type='text/javascript'>
    $('#check_all').on("click", function(){ console.log(233); $('td input[type="checkbox"]').click(); });
	$(document).ready(function(){
		 $("#term_name").keyup(function(){
                $("#term_slug").val($(this).val().toLowerCase().split(' ').join('-'));
            });

		 $("#term_name").change(function(){
		 	$("#term_slug").val($(this).val().toLowerCase().split(' ').join('-'));
		 });
	})
</script>