<p><%= t('.greeting', :recipient => @resource.email) %></p>

<p><%= t('.message') %></p>

<p><%= t('.instruction') %></p>

<p><%= link_to t('.action'), unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>

<%= image_tag site_url('assets/admin/roroafull.png'), alt: "RoroaCMS Logo" %>