<%= form_for [:admin, @user] do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> errors:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Enter User Details</legend>

    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, size: 40 %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, size: 40 %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, size: 40 %>
    </div>
    <div class="field">
      <%= f.label :website %>
      <%= f.text_field :website, size: 40 %>
    </div>
    
    <% if @user.id == nil %>
	    <div>
	        <%= f.label :password, 'Password' %>:
	        <%= f.password_field :password, size: 40 %>
	      </div>
	      <div>
	        <%= f.label :password_confirmation, 'Confirm' %>:
	        <%= f.password_field :password_confirmation, size: 40 %>
	    </div>
    <% end %>
    <div class="field">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>