<%= form_for [:admin, @menu] do |f| %>

  <div class="form-group">
    <%= f.hidden_field :id %>
    <%= f.label :name, :class => "col-sm-3 control-label"  %>
    <div class="col-sm-6">
      <%= f.text_field :name, size: 40, :class => "form-control" %>
      <%= errors_for @menu, :name %>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="form-group">
    <%= f.label :key, :class => "col-sm-3 control-label"  %>
    <div class="col-sm-6">
      <%= f.text_field :key, size: 40, :class => "form-control" %>
      <%= errors_for @menu, :key %>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">&nbsp;</label>
    <div class="col-sm-6">
      <button class="btn btn-sm btn-block btn-primary"><i class="fa fa-plus"></i>&nbsp; <%= t("views.admin.menus.menu_group.add_menu_group") %></button>
    </div>
    <div class="clearfix"></div>
  </div>

<% end %>

