	<h2 class="title">
	Edit "<%= @menu.name %>" menu

	<div class="btn-group pull-right">
		<%= link_to admin_menus_path, :class => 'btn btn-mini pull-left' do %>
		    <i class="icon-arrow-left"></i>
		  <% end %>   
	  <%= link_to admin_menu_path(@menu), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger pull-left' do %>
	    <i class="icon-trash"></i>
	  <% end %> 
	  <a class='btn btn-mini pull-right updateMenu'> 
	    <i class="icon-refresh"></i>
	  </a>
	</div>

</h2>
<div class="row">
	<div class="span9">
		
		<%= render 'menu_list' %>

	</div>

	<div class="span3">

		<%= render 'admin/helper_partials/menu_content_accordion' %>

	    <%= render 'admin/helper_partials/menu_custom_accordion' %> 

	</div>
</div>