<div class="row">
	<div class="col-md-12">
		<!--breadcrumbs start -->
		<div class="alertWarpper"></div>
		<ul class="breadcrumb">
			<li><a href="#">Dashboard</a></li>
			<li><a href="#">Menus</a></li>
			<li class="active">Edit "<%= @menu.name %>" menu</li>
		</ul>
		<!--breadcrumbs end -->
		<h1 class="h1">Edit "<%= @menu.name %>" menu</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-7" id="menuSortableFields">

		<div class="panel panel-default">
			<div class="panel-body">
		
				<%= render 'menu_list' %>

				<hr>

				<button class="btn btn-primary updateMenu">Save</button>

			</div>
		</div>

	</div>

	<div class="col-md-5" id="menuForms">

		<%= render 'admin/helper_partials/menu_content_accordion' %>

	    <%= render 'admin/helper_partials/menu_custom_accordion' %> 

	</div>
</div>