<div class='accordion' id='<%= @id %>Group'>
      <div class='accordion-group'>
        <div class='accordion-heading'>
          <a class='accordion-toggle collapsed' data-toggle='collapse' data-parent='#<%= @id %>Group'  href='#collapse<%= @id.capitalize %>Group'><%= @menu.name.capitalize %> <small>(key: <%= @menu.key %>)</small><i class='accordionSign pull-right'></i></a>
        </div>
        <div id='collapse<%= @id.capitalize %>Group' class='accordion-body collapse'>
          <div class='accordion-inner'>
        	<ol class='sortable  connect' data-menuid='<%= @menu.id %>'>
				<%= menu_list_loop @menu.id %>
			</ol>
            <div class='formSepUpp'>
				<div class='field btn-group pull-right'>
				<a class='btn btn-mini' href='/admin/menus/<%= @menu.id %>/edit'>
			    	<i class='icon-pencil'></i>
				</a>
					<a rel='nofollow' data-method='delete' data-confirm='Are you sure?' class='btn btn-mini btn-danger' href='/admin/menus/<%= @menu.id %>'>
			    		<i class='icon-trash'></i>
			    	</a>
			    </div>

				<div class='clearboth'></div>
			</div>
          </div>
        </div>
      </div>
    </div>