<div class='accordion' id='linkOption'>
      <div class='accordion-group'>
        <div class='accordion-heading'>
          <a class='accordion-toggle' data-toggle='collapse' data-parent='#linkOption' href='#collapseLink'><i class='icon-link pull-left'></i>&nbsp;Link<i class='accordionSign pull-right'></i></a>
        </div>
        <div id='collapseLink' class='accordion-body collapse in'>
          <div class='accordion-inner'>
          	<form data-type="normal">
          		<input type="hidden" name="type" value="page" />
				<select name="linkto" class="mod">
					<option value="">Select an option</option>
					<optgroup label="Pages">
						<% Post.where(:post_type => 'page', :disabled => 'N').each do |opt| %>
							<option value="<%= opt.id %>" data-type="page"><%= opt.post_title %></option>
						<% end %>
		            </optgroup>

		            <optgroup label="Articles">
						<% Post.where(:post_type => 'post', :disabled => 'N').each do |opt| %>
							<option value="<%= opt.id %>" data-type="article"><%= opt.post_title %></option>
						<% end %>
		            </optgroup>
		            <optgroup label="<%=Setting.find_by_setting_name('articles_slug')[:setting].capitalize %>">
		            	<option value="news" data-type="<%=Setting.find_by_setting_name('articles_slug')[:setting].downcase %>"> <%=Setting.find_by_setting_name('articles_slug')[:setting].capitalize %> Page</option>
		            </optgroup>
		            <optgroup label="Categories">
		                <% Post::POST_CATEGORIES.each do |opt| %>
							<option value="<%= opt.id %>" data-type="category"><%= opt.name %></option>
						<% end %>
		            </optgroup>
		            <optgroup label="Tags">
		                <% Post::POST_TAGS.each do |opt| %>
							<option value="<%= opt.id %>" data-type="tag"><%= opt.name %></option>
						<% end %>
		            </optgroup>
				</select>	
				<input name="label" type="text" placeholder="Label">
				<input name="class" type="text" placeholder="Class">
				<span class="title">Target</span>
				<div class="clearboth"></div>
					<input type="radio" value="sw" name="target" checked="checked"><label>Same Window</label><br>
					<input type="radio" value="nt" name="target"><label>New Tab</label><br>
				<div class='formSepUpp'>
					<button type="submit" class='btn btn-mini pull-left'> 
					    <i class="icon-plus"></i>
					  </button>
				</div>

			</form>			
          </div>
        </div>
      </div>
</div>