<%= comment.inspect %>
<li class='comment'>
<article class='comment'>
	<section class='comment-content comment'>
		<div class='comment-meta' data-author='<%= comment.author %>'><a href='http://<%= comment.website %>' target='_blank'><%= comment.author %></a> says:-</div>
		<span class='date'><%= comment.submitted_on.strftime("%b %e %Y, %l:%M %p") %></span>
		<%= comment.comment.html_safe %>
	</section>
</article>
<a href='#' class='reply' data-parent='<%= comment.id %>'>Reply</a><div class='divide'></div>