 
  <div class="container">

    <%= link_to 'Dashboard Admin', admin_path, :class => 'brand' %>
    
    <a href="javascript:;" class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <i class="icon-reorder"></i>
        </a>
  
    <div class="nav-collapse">
      <ul id="main-nav" class="nav pull-right">
        <li class="nav-icon active">
          <% link_to admin_path do %>
            <i class="icon-home"></i>
            <span>Home</span>    
          <% end %>             
        </li>
        
        <li class="dropdown">         
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-file"></i>
             <span>Content</span> 
            <b class="caret"></b>
          </a>  
        
          <ul class="dropdown-menu">
            <li><%= link_to 'Pages', admin_pages_path %></li>
            <li><%= link_to 'Add New Page', new_admin_page_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Articles', admin_posts_path %></li>
            <li><%= link_to 'Add New Article', new_admin_post_path %></li>
            <li><%= link_to 'Categories', admin_post_categories_path %></li>
            <li><%= link_to 'Tags', admin_post_tags_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Banners', admin_banners_path %></li>
            <li><%= link_to 'Add New Banner', new_admin_banner_path %></li>
            <li><%= link_to 'Banner Categories', categories_admin_banners_path %></li>
          </ul>           
        </li>
        
        <li class="dropdown">         
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user"></i>
             <span>Admins</span> 
            <b class="caret"></b>
          </a>  
        
          <ul class="dropdown-menu">              
            <!-- <li><%= link_to 'Users', admin_users_path %></li>
            <li><%= link_to 'Add New User', new_admin_user_path %></li> -->
            <li><%= link_to 'Profile', edit_admin_administrator_path(session[:admin_id]) %></li>
            <% if @current_admin.access_level == 'admin' %>
	            <li class="divider"></li>
	            <li><%= link_to 'Admins', admin_administrators_path %></li>
	            <li><%= link_to 'Add New Admin', new_admin_administrator_path %></li>
	        <% end %>
          </ul>           
        </li>
        <% if @current_admin.access_level == "admin" %>
          <li class="dropdown">         
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-cogs"></i>
             <span>Settings</span> 
            <b class="caret"></b>
          </a>  
        
          <ul class="dropdown-menu">              
            <li><%= link_to 'General', admin_settings_general_index_path %></li>
            <li><%= link_to 'Menus', admin_settings_menu_index_path %></li>
          </ul>           
        </li>
	    <% end %>
        <li class="nav-icon">
          <%= link_to admin_media_path do %>
            <i class="icon-cloud"></i>
            <span>Media</span>
          <% end %>              
          </a>
        </li>
        <% if Setting.find_by_setting_name('article_comment_type')[:setting] == 'R' && Setting.find_by_setting_name('article_comments')[:setting] == 'Y' %>
           <li class="nav-icon">
            <%= link_to admin_comments_path do %>
              <i class="icon-comments"></i>
              <span>Comments</span>
            <% end %>              
            </a>
          </li>
        <% end %>

        <% if @current_admin.access_level == "admin" %>
	         <li class="nav-icon">
	          <%= link_to admin_trash_index_path do %>
	            <i class="icon-trash"></i>
              <span>Trash</span>
	          <% end %>              
	          </a>
	        </li>

	    <% end %>

        <li class="nav-icon">
          <%= link_to admin_logout_path do %>
            <i class="icon-signout"></i>
            <span>Logout</span>   
          <% end %>              
          </a>
        </li>
      </ul>
      
    </div> 
  </div>   