<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= favicon_link_tag 'admin/favicon.ico' %>
    <title>Dashboard | Roroa CMS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- jQuery UI -->
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


    <%= stylesheet_link_tag "admin/application", :media => "all" %>
    <%= javascript_include_tag 'admin/application' %>

    <%= csrf_meta_tags %>

    <script type="text/javascript">

      $(document).ready(function(){
        $('#dtable').dataTable({
          "bLengthChange": false,
          "bInfo": false,
          "iDisplayLength": <%= Setting.get('pagination_per') %>,
          "oLanguage": {
            "sSearch": ""
          },
          "bSort" : false,
          fnInitComplete : function( oSettings, json ){
           $("#dtable_paginate").detach().prependTo("#paginationWrapper");
          }
        });

      })

    </script>

  </head>
  <body>
      <section id="container">
        <header id="header">
            <!--logo start-->
            <div class="brand">
                <a href="<%= site_url('admin') %>" class="logo"><span>Roroa</span>cms</a>
            </div>
            <!--logo end-->
            <div class="toggle-navigation toggle-left">
                <button type="button" class="btn btn-default" id="toggle-left">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <div class="user-nav">
                <ul>
                    <li class="profile-photo">
                        <img src="<%= current_user.avatar %>" class="img-circle" width="35">
                    </li>
                    <li class="dropdown settings">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-angle-down"></i>
                    </a>
                        <ul class="dropdown-menu animated fadeInDown">
                            <li class="userDetails">
                                <img src="<%= current_user.avatar %>" class="img-circle" width="50">
                                <span><%= current_user.first_name + ' ' + current_user.last_name %><small><%= current_user.username %> - admin</small></span>
                            </li>
                            <li class="divide"></li>
                            <li>
                              <%= link_to edit_admin_administrator_path(session[:admin_id]) do %>
                                <i class="fa fa-user"></i> Profile
                              <% end %>
                            </li>
                            <li>
                              <%= link_to admin_logout_path do %>
                                <i class="fa fa-power-off"></i> Logout
                              <% end %>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <!--sidebar left start-->
        <aside class="sidebar <%= !cookies[:menu_contracted].blank? ? 'sidebar-toggle' : '' %>">
            <div id="leftside-navigation" class="nano">
                <ul class="nano-content">
                    <li class="<%= cp(admin_path) %>">
                      <%= link_to admin_path do %>
                        <i class="fa fa-dashboard"></i><span>Dashboard</span>
                      <% end %>
                    </li>
                    <% if check_controller_against_user('pages') || check_controller_against_user('posts') || check_controller_against_user('terms') %>
                      <li class="sub-menu <%= cp(admin_pages_path) %> <%= cp(new_admin_page_path) %> <%= cp(admin_posts_path) %> <%= cp(new_admin_post_path) %> <%= cp(admin_post_categories_path) %> <%= cp(admin_post_tags_path) %>">
                          <a href="javascript:void(0);"><i class="fa fa-file"></i><span>Content</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                          <ul>
                            <% if check_controller_against_user('pages') %>
                              <li class="<%= cp(admin_pages_path) %>"><%= link_to 'Pages', admin_pages_path %></li>
                              <li class="<%= cp(new_admin_page_path) %>"><%= link_to 'Add New Page', new_admin_page_path %></li>
                            <% end %>
                            <li class="divider"></li>
                            <% if check_controller_against_user('posts') %>
                              <li class="<%= cp(admin_posts_path) %>"><%= link_to 'Articles', admin_posts_path %></li>
                              <li class="<%= cp(new_admin_post_path) %>"><%= link_to 'Add New Article', new_admin_post_path %></li>
                            <% end %>
                            <% if check_controller_against_user('terms') %>
                              <li class="<%= cp(admin_post_categories_path) %>"><%= link_to 'Categories', admin_post_categories_path %></li>
                              <li class="<%= cp(admin_post_tags_path) %>"><%= link_to 'Tags', admin_post_tags_path %></li>
                            <% end %>
                          </ul>
                      </li>
                    <% end %>
                    <li class="sub-menu <%= cp(admin_administrators_path) %> <%= cp(edit_admin_administrator_path(session[:admin_id])) %> <%= cp(new_admin_administrator_path) %>">
                        <a href="javascript:void(0);"><i class="fa fa-user"></i><span>Users</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                        <ul>
                          <li class="<%= cp(edit_admin_administrator_path(session[:admin_id])) %>"><%= link_to 'Profile', edit_admin_administrator_path(session[:admin_id]) %></li>
                          <% if check_controller_against_user('administrators') %>
                              <li class="<%= cp(admin_administrators_path) %>"><%= link_to 'Users', admin_administrators_path %></li>
                              <li class="<%= cp(new_admin_administrator_path) %>"><%= link_to 'Add New User', new_admin_administrator_path %></li>
                          <% end %>
                        </ul>
                    </li>

                    <% if check_controller_against_user('menus') %>
                      <li class="<%= cp(admin_menus_path) %>">
                        <%= link_to admin_menus_path do %>
                          <i class="fa fa-list"></i><span>Menus</span>
                        <% end %>
                      </li>
                    <% end %>
                    <% if (Setting.find_by_setting_name('article_comment_type')[:setting] == 'R' && Setting.find_by_setting_name('article_comments')[:setting] == 'Y') && check_controller_against_user('comments') %>
                       <li class="<%= cp(admin_comments_path) %>">
                        <%= link_to admin_comments_path do %>
                          <i class="fa fa-comments"></i><span>Comments</span>
                        <% end %>
                      </li>
                    <% end %>

                    <% if check_controller_against_user('themes') %>
                      <li class="<%= cp(admin_themes_path) %>">
                        <%= link_to admin_themes_path do %>
                          <i class="fa fa-flask"></i><span>Themes</span>
                        <% end %>
                      </li>
                    <% end %>
                    
                    <% if check_controller_against_user('settings/general') %>

                      <li class="<%= cp(admin_settings_general_index_path) %>">
                        <%= link_to admin_settings_general_index_path do %>
                          <i class="fa fa-cogs"></i><span>Settings</span>
                        <% end %>
                      </li>

                    <% end %>

                    <% if check_controller_against_user('trash') %>

                        <li class="<%= cp(admin_trash_index_path) %>">
                          <%= link_to admin_trash_index_path do %>
                            <i class="fa fa-trash-o"></i><span>Trash</span>
                          <% end %>
                        </li>
                      
                    <% end %>

                    <li>
                      <%= link_to admin_logout_path do %>
                        <i class="fa fa-power-off"></i><span>Logout</span>
                      <% end %>
                    </li>

                </ul>
            </div>

        </aside>
        <!--sidebar left end-->
        <!--main content start-->
        <section class="main-content-wrapper <%= !cookies[:menu_contracted].blank? ? 'main-content-toggle-left' : '' %>">
            <section id="main-content">
                <%= theme_exists %>
                <% if !current_page?(admin_path) %>
                  <div class="row">
                      <div class="col-md-12">
                          <%= render_breadcrumbs '' %>
                         <h1 class="h1"><%= defined?(@title) ? @title : 'No Title' %></h1>
                         <div class="clearfix"></div>
                         <div class="alert-wrapper"><%= get_notifications %></div>
                      </div>
                  </div>
                <% end %>

                <%= yield %>
               
            </section>
        </section>
        <!--main content end-->
    </section>
  </body>
</html>