<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard | Roroa CMS</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <%= stylesheet_link_tag    "admin/application", :media => "all" %>
    <%= javascript_include_tag "admin/application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 

  </head>
  <body>
    <div id="wrapper">  
      
      <div id="header">
         <div class="container">

    		<%= link_to 'Dashboard Admin', admin_path, :class => 'brand' %>
    	</div>
      </div> 


      <div id="content">

        <div class="container filebrowser">
          <%= get_notifications %>
          <%= yield %>
       </div> 

      </div> 
    </div>

    <div class="clearboth"></div> 
  </body>
</html>